html, body {
  margin: 0;
  padding: 0;
  background-color: #141d23;
  text-align: center;
  font-family: times;
}

/*Social Bar*/

.social-nav {
  margin: 0 auto;
  width: 100%;
  position: fixed;
  z-index: 9999;
  text-align: center;
  list-style: none;
  padding: 2px 0;
  background-color: darkSlateBlue;
}

.social-nav li {
  display: inline-block;
  padding: 5px;
  position: relative;
  left: 450px;
}

.social-nav li a {
  text-decoration: none;
  color: white;
}

.social-nav li a:hover {
  color: black;
}

/*Header*/

.nav {
  margin: 0 auto;
  position: fixed;
  z-index: 9998;
  top: 30px;
  width: 100%;
  list-style: none;
  text-align: center;
  padding: 25px 0 25px 5%;
  background-color: #141d23;
  border-bottom: 2px solid darkSlateBlue;
}

.nav li {
  display: inline-block;
  padding: 3px 10px 3px 0px;
  position: relative;
  right: 550px;
}

.nav li a {
  color: black;
  text-decoration: none;
  color: white;
}

.nav li a:hover {
  color: rgba(0, 0, 0, 0.1);
}

/*Beginning of Page Content*/

.content {
  position: relative;
  top: 98px;
}

.page-title {
  width: 100%;
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 20px;
  color: white;
  background-color: darkSlateBlue;
}

/*Row Items*/

h3 {
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
}

.container {
  padding-bottom: 20px;
  width: 70%;
  position: relative;
  left: 16%;
}

.row {
  padding: 20px 10px;
  text-align: center;
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
}

.box {
  display: inline-block;
}

.box a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  display: block;
  padding: 50px 100px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

.box a:hover {
  background-color: oldLace;
}

/*Beginning of Footer*/

footer {
  margin: 0;
  width: 100%;
  height: 100px;

  background-color: darkSlateBlue;
}

footer li {
  display: inline-block;
  padding: 5px;
  position: relative;
  left: 450px;

}

footer li a {
  color: white;
  text-decoration: none;
}

footer li a:hover {
  color: rgba(0, 0, 0, 0.5);
}
