html, body {
  margin: 0;
  padding: 0;
  background-color: white;
  text-align: center;
  font-family: times;
}

/*Social Bar*/

.social-nav {
  display: flex;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 30px;
  justify-content: flex-end;
  align-items: center;
  background-color: darkGreen;
}

.social-nav-container {
  margin-right: 10%;
}

.social-nav span {
  display: inline-block;
  margin: 5px 10px;
}

.social-nav span a {
  color: white;
  text-decoration: none;
}

/*Header*/

.main-nav {
  display: flex;
  position: fixed;
  top: 30px;
  z-index: 9998;
  width: 100%;
  height: 65px;
  align-items: center;
  background-color: white;
  border: 1px solid darkGreen;
}

.logo {
  display: inline-flex;
  flex-grow: ;
  margin-left: 10%;
}

.logo span {
  font-size: 26px;
  margin-right: 20px;
  padding-right: 20px;
  color: brown;
  border-right: 1px solid black;
  border-width: medium;
}

.nav {
  display: inline-flex;
  justify-content: flex-start;
}

.nav span {
  padding: 10px 5px;
}

.nav span a {
  color: black;
  text-decoration: none;
  padding: 10px;
}

/*Beginning of Page Content*/

.content {
  position: relative;
  top: 97px;
}

.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 10px 0;
  background-color: Green;
}

.page-title-box {
  display: inline-block;
  color: black;
  font-size: 50px;

}

/*Row Items*/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.row {
  display: inline-flex;
  justify-content: left;
  margin: 40px 0;
  width: 80%;
  height: 450px;
  overflow-x: scroll;
  border: 2px solid black;
  border-radius: 20px;
}

.box {
  display: inline-flex;
  align-items: center;
  margin: 0 10px;
}

.box span {
  height: 380px;
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  background-image: url("../images/cookie.jpg");
}

/*Paragraphs*/

.paragraphs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 0 auto;
  padding: 0;
  margin: 0;
}

.items {
  display: inline-flex;
  width: 400px;
  height: 400px;
  margin: 20px;
  border: 1px solid black;
}

.items p {
  font-size: 60px;
  font-family: helvetica;
  margin: 10px;
  padding: 0;
  color: white;
}

.item-image-one {
  background-image: url("../images/chef-hamster.jpg");
  background-position: center;
  height: 400px;
  width: 400px;
}

.item-image-two {
  background-image: url("../images/chef-dog.jpg");
  background-position: center;
  height: 400px;
  width: 400px;
}

.item-image-three {
  background-image: url("../images/funny-chef.jpg");
  background-position: center;
  height: 400px;
  width: 400px;
}

/*Beginning of Footer*/

.social-nav-footer {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: flex-end;
  align-items: center;
  background-color: darkGreen;
}

.social-nav-container-footer {
  display: flex;
  margin-right: 10%;
  flex-direction: column;
}

.social-nav-footer span {
  display: inline-flex;
  margin: 5px 10px;
}

.social-nav-footer span a {
  color: white;
  text-decoration: none;
}
